* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poiret One';
}

/* Footer Section */

header {
  flex: 10%;
  background-color: #c5d5cb;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.headerSection {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  flex: 2;
  
}

.highScore {
  flex: 50%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.1em;
  justify-content: center;
  align-items: center;
}

.playerName {
  flex: 50%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.1em;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
}


.headerWhiteSpace1 {
  flex: 1;

}

.headerWhiteSpace2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.logoImage {
  width: 280px;
  height: 80px;
  border-radius: 10px;

}



/* Main Section */

main {
  flex: 80%;
}

.grid-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
}

.griddivs {
  width: 2.7vw;
  height: 4vh;
  flex-grow: 1;
  
}

.wall  {
  background-color: lightgrey;
  
  
}

.blank  {
  background-color: white;

}

.pokeball {
  background-image: url('../assets/pokeball.png');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

.ultraPokeball {
  background-image: url('../assets/ultraball.jpg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

/* Pokemon */

.pokemon {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color: red; 
}

.runRight {
  background-image: url('../assets/pikachu-running.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.runLeft {
  background-image: url('../assets/pikachu-running.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotateY(180deg);
}

.runUp {
  background-image: url('../assets/pikachu-running.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotate(270deg);
}

.runDown {
  background-image: url('../assets/pikachu-running.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotate(90deg);
}


.evolvedPokemon {
  background-image: url('../assets/Raichu.webp');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-size: 38px;
  background-position: center;
  
}



/* Team Rocket */


.Koffing {
  background-image: url('../assets/Koffing.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.Meowth {
  background-image: url('../assets/Meowth.webp');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.Wobuffet {
  background-image: url('../assets/Wobbuffet.webp');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.Arbok {
  background-image: url('../assets/arbok.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}



/* Footer Section */

footer {
  flex: 10%;
  background-color: #c5d5cb;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerSection {
  display: flex;
  flex-direction: row;
  width: 50vw;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  
}

.liveCounter {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 0.1em;
  margin-left: 4px;
  font-weight: 400;
  
}

button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(47, 65, 131);
  border-radius: 4px;
  
}

#targetNumber {
  color: green;
}