* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  flex: 10%;
  background-color: blue;

}

main {
  flex: 80%;
}

.grid-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50vw;
}

.griddivs {
  width: 2.7vw;
  height: 4vh;
  flex-grow: 1;
  
}

.wall  {
  background-color: lightgrey;
  
  
}

.blank  {
  background-color: white;

}

.pokeball {
  background-image: url('../assets/pokeball.png');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

.ultraPokeball {
  background-image: url('../assets/ultraball.jpg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

/* Pokemon */

.pokemon {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color: red; 
}

.runRight {
  background-image: url('../assets/pikachu-running.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.runLeft {
  background-image: url('../assets/pikachu-running.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotateY(180deg);
}

.runUp {
  background-image: url('../assets/pikachu-running.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotate(270deg);
}

.runDown {
  background-image: url('../assets/pikachu-running.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: rotate(90deg);
}


.evolvedPokemon {
  background-image: url('../assets/Raichu.webp');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-size: 38px;
  background-position: center;
  
}



/* Team Rocket */


.Koffing {
  background-image: url('../assets/Koffing.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}






footer {
  flex: 10%;
  background-color: blueviolet;
}